@import "/src/styles/variables.scss";

.nonStyle {
  display: none;
}

.container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  height: 96px;
  background-color: #ffff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text {
  align-self: center;
  width: 80%;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.xmarkIcon {
  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all 0.2s;
    cursor: pointer;
  }
}
