@import "/src/styles/variables.scss";

.footerContainer {
  display: flex;
  flex-direction: row-reverse;
  // margin-top: 175px;
  padding: 26px 0;
  // background-color: #f5f5f5;
  @include mq(md) {
    display: block;
    margin-top: 100px;
  }
}

.text {
  align-self: center;
  width: 46%;
  color: #293039;
  @include mq(md) {
    text-align: center;
    width: auto;
    font-size: 12px;
  }
}

.snsContainer {
  display: flex;
  margin-right: 25px;
  gap: 20px;
  @include mq(md) {
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 0;
    gap: 15px;
  }
}

.snsIcon {
  &:hover {
    cursor: pointer;
  }
}