.footerContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 26px 0;
  background-color: #f5f5f5;
}

.text {
  align-self: flex-end;
  width: 49%;
  color: #293039;
}

.snsContainer {
  display: flex;
  gap: 20px;
}
