.container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 4%;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 8px 8px -8px;
  z-index: 10;
}

.nav {
  display: flex;
  align-items: center;
}

.navItem {
  padding: 28px 15px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all .3s;
  }
}

.logo {
  display: block;
  margin-right: 2%;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all .3s;
  }
}

.signUp {
  @extend .navItem;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  background-color: #ff1493;
  cursor: pointer;
}