@import "/src/styles/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.name {
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
}

.point {
  width: 80px;
  font-weight: bold;
  color: #666666;
}

.level {
  display: flex;
  gap: 7px;
  width: 370px;
  font-weight: bold;
}

.giftIcon {
  width: 50px;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 68px;
  background-color: #FF6928;
  border-radius: 50%;
  cursor: pointer;
}

.giftIconDisable {
  @extend .giftIcon;
  position: relative;
  background-color: #CCCCCC;

  &::before {
    position: absolute;
    top: -48px;
    left: -6px;
    content: "10pt獲得";
    color: #FFCC66;
    white-space: nowrap;
  }
}