@import "/src/styles/variables.scss";

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 46px;
  font-weight: bold;
}

.background {
  margin: 9.9% auto 0;
  padding: 70px;
  width: 80%;
  border-radius: 30px;
  background-color: #fff0f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.addButton {
  display: flex;
  justify-content: center;
  margin: 8% auto 60px;
  padding: 13px 0;
  width: 40%;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  color: #ffff;
  background-color: #ff1493;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all 0.3s;
  }
}

.advise {
  display: flex;
  align-items: center;
  margin: 4% auto 0;
  width: 103px;
  gap: 7px;
  font-size: 24px;
  color: #ff1493;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all 0.2s;
    cursor: pointer;
  }
}

.textAreaContainer {
  margin: 60px;
  width: 500px;
}

.closeIcon {
  margin: 15px 15px 0 auto;
  width: 30px;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all 0.2s;
    cursor: pointer;
  }
}

.saveButton {
  @extend .addButton;
  width: 20%;
}

.nonStyle {
  display: none;
}