@import "/src/styles/variables.scss";

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.background {
  margin: 9.9% auto 0;
  padding: 70px;
  width: 80%;
  border-radius: 30px;
  background-color: #fff0f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 46px;
  font-weight: bold;
}

.petImage {
  margin: 0 auto 60px;
  width: 50%;
  max-width: 515px;
  animation-name: swing;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  will-change: transform;
}

.addButton {
  display: flex;
  justify-content: center;
  margin: 8% auto 60px;
  padding: 13px 0;
  width: 40%;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  color: #ffff;
  background-color: #ff1493;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all 0.3s;
    cursor: pointer;
  }
}

.modalContainer {
  padding: 0 50px 50px;
}

.closeIcon {
  margin: 15px 15px 0 auto;
  width: 30px;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all 0.3s;
    cursor: pointer;
  }
}

.resultText {
  font-size: 17px;
  color: #FFCC66;
}

.resultImage {
  text-align: center;
}

.confirmButton {
  @extend .addButton;
  margin: 8% auto 0;
}