@import "/src/styles/variables.scss";

.background {
  padding: 70px;
  width: 100%;
  background-color: #FFFAFA;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: bold;
}

.InputSearchContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.selectContainer {
  flex: 0.4;
}

.select {
  background-color: #ffff;
}
