@import "/src/styles/variables.scss";

.background {
  margin: 9.9% auto 0;
  padding: 70px;
  width: 80%;
  border-radius: 30px;
  background-color: #fff0f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 46px;
  font-weight: bold;
}