@import "/src/styles/variables.scss";

.layout {
  margin: 64px auto 0 auto;
  width: 92%;
}

.heroContainer {
  display: flex;
  margin-bottom: 113px;
  gap: 64px;
  @include mq(md) {
    flex-direction: column-reverse;
    margin-bottom: 90px;
    gap: 0;
  }
}

.heroLeftContainer {
  flex: 1;
  padding-top: 8%;
  @include mq(md) {
    padding-top: 0;
  }
}

.heroRightContainer {
  flex: 1;
  @include mq(md) {
    margin: 0 auto;
    width: 50%;
  }
}

.heroTitle {
  font-size: 64px;
  font-weight: bold;
  @include mq(md) {
    text-align: center;
    font-size: 5vh;
  }
}

.heroDescription {
  margin-top: 20px;
  font-size: 24px;
  line-height: 38px;
  @include mq(md) {
    margin-top: 10px;
    font-size: 3vh;
    line-height: 32px;
    text-align: justify;
  }
}

.startButton {
  text-align: center;
  margin-top: 26px;
  padding: 10px 0;
  width: 30%;
  border-radius: 6px;
  font-size: 22px;
  color: white;
  background-color: #ff1493;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    filter: brightness(110%);
    transition: all .3s;
  }
  @include mq(md) {
    margin: 25px auto 0;
    width: 75%;
  }
}

.introduceContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  @include mq(md) {
    flex-direction: column;
  }
}

.reverse {
  flex-direction: row-reverse;
  @include mq(md) {
    flex-direction: column;
  }
}

.introduceConclusion {
  flex: 1;
  text-align: justify;
}

.introduceImage {
  flex: 1;
  text-align: center;
  @include mq(md) {
    margin-top: 10px;
    width: 60%;
  }
}

.introduceTitle {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 8px;
  @include mq(sm) {
    font-size: 2.2rem;
  }
}

.introduceDescription {
  font-size: 1.6rem;
  line-height: 1.6;
  @include mq(sm) {
    font-size: 1.6rem;
  }
}

.qaTitle {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: bold;
}